.floating-image {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0);
    }
}

.marquee-container {
    overflow: hidden;
    white-space: nowrap;
}

.marquee-content {
    display: inline-block;
    animation: marquee 30s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
